<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="/src/img/logo.ico">
    <title>GoLearn</title>
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <header>
        <div class="menu-toggle" onclick="toggleSidebar()">
            &#9776;
        </div>
        <div class="logo-warpper">
            <div class="logo">
                <span class="go">Go</span>Learn
            </div>
            <div class="container-input">
                <div class="input-warpper">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Pesquisar...">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <aside id="sidebar">
            <nav class="menu-lateral">
                <ul class="menu">
                    <li class="item-menu ativo">
                        <a href="#">
                            <span class="icon"><i class="bi bi-columns-gap"></i></i></span>
                            <span class="txt-link">Home</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="#">
                            <span class="icon"><i class="bi bi-chat-left-text"></i></span>
                            <span class="txt-link">Mensagens</span>
                        </a>
                    </li>

                    <li class="item-menu">
                        <a href="#">
                            <span class="icon"><i class="bi bi-bell"></i></span>
                            <span class="txt-link">Notificação</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="#">
                            <span class="icon"><i class="bi bi-clipboard2-check"></i></span>
                            <span class="txt-link">Tarefa</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="#">
                            <span class="icon"><i class="bi bi-upload"></i></span>
                            <span class="txt-link">Uplod</span>
                        </a>
                    </li>
                    <li class="item-menu">
                        <a href="#">
                            <span class="icon"><i class="bi bi-gear"></i></span>
                            <span class="txt-link">Configuração</span>
                        </a>
                    </li>
                    <li class="item-menu ">

                        <a href="#">
                            <span class="icon"><i class="bi bi-person-circle"></i></span>
                            <span class="txt-link">Usuario</span>
                        </a>
                    </li>
                    <li class="item-menu ">
                        <a href="#">
                            <span class="icon"><i class="bi bi-box-arrow-left"></i></i></span>
                            <span class="txt-link">Logout</span>
                        </a>

                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <h2>Ola, bem vindo <span>Usuario</span> a o Golearn</h2>
            <section class="secao">
                <div class="box">
                    <h3>Inicie um grupo de estudo</h3>
                    <button>Criar grupo</button>

                </div>
                <div class="box">
                    <h3>Sugestões de grupos</h3>
                    
                </div>
                <div class="box">
                    <h3>Seus grupos</h3>
                </div>
            </section>
        </main>
    </div>


    <script src="/javascript/index.js"></script>
</body>

</html>